header {
    background: #fff;
}
.link-add-file {
    color: #000;
}
.file-color {
    color: #000;
}
.link-add-file:hover {
    color: #000;
    text-decoration: none;
}
.float-button {
    border-radius: 999em;
    height: 20px;
    width: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #536dfe;
    border: 0;
    outline: none!important;
}
.float-button:hover{
    background-color:#677efe;
}
.dropzone {
    border: 2px dashed #000;
    border-radius: 5px;
    background: white;
    height: 50px;
    text-align: center;
    padding-top: 11px;
}
.wrapper-dashboard {
    height: 500px;
    color: #000;
    position: relative;
    left: -100px;
}
.wrapper-dashboard .row {
    height: 100%;
}
.side-menu {
    height: 100%;
    border-right: 1px solid #000;
}
.side-menu2 {
    height:500px;
    border-left: 1px solid #000;
}
.side-menu-btn {
    width: 100%;
    background: initial;
    border: none;
}
.wrapper-dashboard .row table {
    margin: 25px;
}