{% extends "app/base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12" >
			<h2>Bienvenido</h2>
		<div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12" >
			<h3>¿En qu&eacute; podemos ayudarte?</h3>
		<div>
	</div>
	<br>		
	<div class="row">
		
		<div class="col-xs-6 col-md-6 col-sm-6" >
			<button id="asesoriaBtn" type="button" class="btn btn-primary">Asesoria</button>
		</div>	
		<div class="col-xs-6 col-md-6 col-sm-6" >
			<button id="ContratarBtn" type="button" class="btn btn-primary">Contratar Contador</button>
		</div>	
	</div>
	<br>
</div>
{% endblock %}