{% extends "app/base.html" %}

{% block usuario %}
 <h2>Mi repositorio</h2>
 <nav class="navbar" style="background: initial;border-radius: 0;margin-bottom: 0px;">
     <div>
         <ul class="nav navbar-nav">
             <li class="">
                 <a href="#page-top">Perfil</a>
             </li>
             <li class="">
                 <a href="#portfolio">Consultar</a>
             </li>
             <li class="">
                 <a href="#about">Notificación</a>
             </li>
             <li class="">
                 <a href="{% url 'me' %}">Repositorio</a>
             </li>
         </ul>
     </div>
<nav>
{% endblock %}

{% block mystyle %}
{% load staticfiles %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="wrapper-dashboard">
    <div class="row">
        <div class="col-xs-6 col-md-4 side-menu">
            <button class="btn btn-default side-menu-btn btn-side-menu" data-id=".col-query">Consultar</button>
            <br>
            <button class="btn btn-default side-menu-btn btn-side-menu" data-id=".col-perfil">Perfil</button>
            <br>
            <button class="btn btn-default side-menu-btn btn-sync" disabled>Sync</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" style="">
            <div class="col-query" style="display:none;">
                <div style="margin-top:25px;">
                    <div style="text-align: left;">
                        <form action="/file-upload"
                            class="dropzone"
                            id="mydz">
                        </form>
                    </div>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>$ 32,435.00 MNX</td>
                                <td>2016-05-05</td>
                                <td>factura-1217-8745-7099.xml</td>
                                <td>
                                    <span role="button" class="btn-del-file">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>Monto</th>
                                <th>Fecha</th>
                                <th>Documento</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-perfil" style="display:none;">
                <ul style="text-align: left;list-style-type: none;">
                    <li>
                        <span role="button" data-id="cert" class="btn-mod-profile">
                          <i class="fa fa-square-o" aria-hidden="true"></i> <span>cert</span>
                        </span>
                    </li>
                    <li>
                        <span role="button" data-id="key" class="btn-mod-profile">
                          <i class="fa fa-square-o" aria-hidden="true"></i> <span>key</span>
                        </span>
                    </li>
                    <li>
                        <span role="button" data-id="password" class="btn-mod-profile">
                          <i class="fa fa-square-o" aria-hidden="true"></i> <span>password</span>
                        </span>
                    </li>
                </ul>
                <div class="profile-template" style="display:none;">
                    <div class="cert key">
                        <div class="profile-data inlineB">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <input type="file" class="profile-file">
                        </div>
                    </div>
                    <div class="password">
                      <div class="input-group" style="width:123px;">
                        <input type="password" class="profile-password form-control" maxlength="15">
                        <div class="input-group-addon">
                            <span role="button" class="btn-save-profile">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block myscript %}
{% load staticfiles %}
<script src="{% static 'js/dropzone.js' %}" ></script>
<script>
var _tmp_html_template = "";
var count = [];
var _type = "";
Dropzone.options.mydz = {
    dictDefaultMessage: "Agregar archivo(s)",
    addedfile: function(file) {
        var d = new Date();
        $('.table').append("<tr><td>$ 12.00 MNX</td><td>" + d.getDate() + "-" + d.getMonth() + "-" + d.getFullYear() + "</td><td>" + file.name + "</td></tr>");
    }
};
$('body').on('click', '.btn-del-file', function() {
   $(this).parent().parent().remove(); 
});

    function getRandomIntInclusive(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    function randomR() {
        console.log("---");
        var _tmp = getRandomIntInclusive(1, 99999999);
        var _tmpString = "";
        var _tmpArr = _tmp.toString().split('');
        _tmpArr = _tmpArr.reverse();
        for (var i = _tmpArr.length - 1; i >= 0; i--) {
           _tmpString += _tmpArr[i];
           if (i%3==0) {
               _tmpString += ","
           }
        }
        var d = new Date();
        var _file_name = "factura-" + getRandomIntInclusive(1, 9999) +
          "-" + getRandomIntInclusive(1, 9999) + "-" +
          getRandomIntInclusive(1, 9999) + ".xml";
        _tmpString = _tmpString.slice(0,-1);
        $('table').append("<tr><td>$ " +
          _tmpString +
          " MNX</td><td>" +
          d.getFullYear() +
          "-" + d.getMonth() +
          "-" +
          d.getDate() +
          "</td><td>" +
          _file_name +
          "</td><td>" +
          "<span role='button' class='btn-del-file'><i class='fa fa-times' aria-hidden='true'></i></span>" +
          "</td></tr>");
    }
    $('.btn-sync').on('click', function(e){ 
        e.preventDefault();
        var $btn = $(this);
        var btnHtml = $btn.html();
        $btn.html('<i class="fa fa-circle-o-notch fa-spin fa-fw margin-bottom"></i>');
        setTimeout(function(){
          var _limit = getRandomIntInclusive(2, 7);
          for(var j = _limit; j >= 0; j--) {
            randomR();
          }
          $btn.html(btnHtml);
        }, 2000);
    });
    
    $('body').on('click', '.btn-side-menu', function() {
      var $el = $($(this).attr('data-id'));
      $el.siblings().hide();
      $el.show();
    });
    $('body').on('click', '.btn-mod-profile', function() {
        _type = $(this).attr('data-id');
        _tmp_html_template = $(this).parent().html();
        
        $(this).parent().html($('.profile-template .'+_type).html());
    });
    $('body').on('change', '.profile-file', function() {
        var file_name = $(this).val();
        $(this).parent().parent().html(_tmp_html_template.replace("fa-square-o", "fa-check-square-o"));
        if(count.lastIndexOf(_type) == -1) {
            count.push(_type);
        }
        if (count.length == 3) {
            $('.btn-sync').prop( "disabled", false );
        } 
    });
    $('body').on('click', '.btn-save-profile', function() {
        var file_name = $(this).val();
        var $el = $(this).parent().parent();
        $el.html(_tmp_html_template.replace("fa-square-o", "fa-check-square-o"));
        if(count.lastIndexOf('file') == -1) {
            count.push('file');
        }
        if (count.length == 3) {
            $('.btn-sync').prop( "disabled", false );
        }
    });

</script>
{% endblock %}