{% extends "app/base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12" >
			<h2>Presupuesto</h2>
		<div>
	</div>
	<br>
	<div class="row">
		<div id="presupuestoDiv" class="col-xs-12 col-md-12 col-sm-12" >
			<h3>$200.00 mnx</h3>
		<div>
	</div>
	<br>		
	<div class="row">
		
		<div class="col-xs-12 col-md-12 col-sm-12" >
			<button id="aceptPresBtn" type="button" class="btn btn-primary" style="float:right">Aceptar</button>
		</div>	
	</div>
	<br>
</div>
{% endblock %}